@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer base {
	html,
	body {
		@apply font-sans m-0 p-0 w-full h-full;
	}
}

@layer components {
	.spinner {
		margin: 3.2rem auto 1.6rem;
		width: 60px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 8px solid #f1ececcd;
		border-right-color: #f1ecec8f;
		animation: rotate 1s infinite linear;
	}
}

@keyframes rotate {
	to {
		transform: rotate(1turn);
	}
}
